body {
	margin:0; 
	padding:0;
}

.form-group {
	position:absolute;
	display: inline-block;
	text-align: center;
}

#map {
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
	z-index: -1; 
}

#two-inputs{
	position:fixed;
	width: 300px;
	background: rgba(0,0,0,0.15);
	height: 100px;
	border-radius: 22px;
}

#two-inputs select{
	display: inline-block;
	width: 30%;
}